@import '../../styles/index.scss';

.dropdown-info {

    .dropdown-wrapper {
        max-width: 1023px;

        .dropdown {
            font-size: clamp(0.8125rem, 0.5145rem + 1.2717vw, 1.5rem);
            font-weight: 500;
        }

        .dropdown-content {
            .content {
                padding: 20px;
                font-size: clamp(0.75rem, 0.3166rem + 1.849vw, 1.5rem);
                font-weight: 400;
            }
        }
    }
}

.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 582px;
    height: max-content;
    border-radius: 5px;
    background-color: $layout-background-gallery;

    @media screen and (min-width: 700px) {
        border-radius: 10px;
    }

    .dropdown {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: clamp(0.625rem, 0.4442rem + 0.7716vw, 0.9375rem) clamp(0.6875rem, 0.4343rem + 1.0802vw, 1.125rem);
        border-radius: 5px;
        background-color: $text-color-orange-primary;
        font-size: clamp(0.8125rem, 0.6319rem + 0.7704vw, 1.125rem);
        font-weight: 400;
        color: $text-color-white;
        text-transform: capitalize;

        @media screen and (min-width: 700px) {
            border-radius: 10px;
        }
    }

    button {
        position: absolute;
        width: 15px;
        height: 15px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        @media screen and (min-width: 700px) {
            width: 32px;
            height: 32px;
        }
    }

    .caret {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
 
    .caret-open {
        transform: rotate(180deg);
    }

    .caret-close {
        transform: rotate(0deg);
    }

    .dropdown-content {
        height: 0px;
        overflow: hidden;
        transition: height ease .35s;

        .content {
            padding: 20px 10px 10px;
            color: $text-color-orange-primary;
            font-size: clamp(0.75rem, 0.5333rem + 0.9245vw, 1.125rem);
            font-weight: 400;
            line-height: 142.6%;

            @media screen and (min-width: 700px) {
                padding: 20px;
            }
        }
    }

}