@import '../../styles/index.scss';

.housing-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 18px;
    padding: 0 10px;
    color: $text-color-white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 500;
    background-color: $text-color-orange-primary;
}