// GLOBAL SETTINGS
* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

// COLORS
$text-color-orange-primary: #FF6060;
$text-color-white: #ffffff;

// LINKS
a {
    color: initial;
    text-decoration: none;
}