.home-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0 20px 22px;
    overflow-x: hidden;

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
        flex-grow: 1;
    }
}