@import '../../styles/settings.scss';

.home-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    overflow-x: hidden;
    flex-grow: 1;

    .gallery-layout{
        display: flex;
        border-radius: 25px;

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media screen and (min-width: 700px) {
        .gallery-layout {
            padding: 56px;
            background-color: $layout-background-gallery;

            .gallery {
                justify-content: space-evenly;
            }
        }
    }
}