@import '../../styles/index.scss';

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-x: hidden;

    #logo-header {
        width: 145px;
        height: 47px;
    }

    .navigation {
        display: flex;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        
        a {
            color: $text-color-orange-primary;
        }

        li {
            margin-left: 10px;
            transition: .25s;
            &:hover {
                border-bottom: 1px solid $text-color-orange-primary;
            }
        }
    }
}